<!doctype html>
<html lang="en">

<head>
    <title>Home | Shopping List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="../static/css/styles.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var list_number = parseInt("{{number_of_lists}}");
        var message = "{{message}}";
    </script>
</head>

<body>
    <nav class="navbar navbar-fixed-top drop-shadow" id="home-navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shopping List</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h5 class="nav-text">Hi {{username}}</h5>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}" class="navbar-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="home-wrapper">
            {% if shopping_list_dict %}
                {% for title, shopping_list in shopping_list_dict.items() %}
                    <div id="card-shopping" class="card-container">
                        <h4>{{title}}</h4>
                        <div class="card-icon-holder" id="card-icon-holder">
                            <a id="add-item" onclick="generateModal('crud-div', 'Add Item', '/add_item', 'form_add_item_id', 'name', 'Enter Item Name', 'price_id', 'list_title', '{{ title }}', '', '')">
                                <i class="icons fa-plus-circle"></i>
                            </a>

                            <a id="edit-shopping" onclick="generateModal('crud-div', 'Edit Shopping List', '/edit_shopping_list', 'form_edit_shopping_list', 'new_title', 'Enter New Title', '', 'old_title', '{{ title }}', '', '')">
                                <i class="icons fa-pencil"></i>
                            </a>

                            <a id="share-shopping" href="#"> 
                                <i class="icons fa-share-alt"></i>
                            </a>

                            <a id="delete-shopping" href="{{ url_for('remove_shopping_list', title=title ) }}">
                                <i class="icons fa-trash"></i>
                            </a>
                        </div>
                            <div style="overflow-y: auto;height: 360px;padding: 8px;">
                                {% if shopping_list.items %}
                                    {% for name, item in shopping_list.items.items() %}
                                        <div id="card-item" class="list-card">
                                            <div id="label-item">
                                                <div>
                                                    <a onclick="generateModal('crud-div', 'Edit `{{ name }}` Item', '/edit_item', 'form_edit_item', 'new_name', 'Enter Item Name', 'price_id', 'list_title', '{{ title }}', '{{ name }}', '{{item.price}}')">
                                                        <div>
                                                            <h4>{{name}}</h4>
                                                        </div>

                                                        <div>
                                                            <h6>
                                                                SHS {{item.price}}
                                                            </h6>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <input id="checkbox-item" style="float: right;margin-top: -36px;margin-bottom: 5px;" type="checkbox" {% if item.status %}checked{% endif %} onchange="changeItemStatus('{{ title }}', '{{ name }}', this);">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="card-modal" id="crud-div" style="display: none">
    </div>

    <a class="btn-fab round-button" onclick="generateModal('crud-div', 'Create Shopping List', '/create_shopping_list', 'form_add_shopping_list', 'title', 'Enter Title', '', '', '', '', '')">
        <i class="fab-icon fa-plus"></i>
    </a>

    <div><div id="snackbar"></div>
</body>

</html>

<script type="text/javascript">
    function generateModal(parent_id, modal_title, action, form_id, visible_input_name, visible_input_placeholder, price_id, hidden_input_name, hidden_input_value, edit_item, old_price) {
        
        var price = '', hidden_input = '', buttons = '<button class="btn btn-form-submit btn-modal-form-submit" type="submit">Save</button>';
        if (!(hidden_input_name === "") && !(hidden_input_value === "")) {
            hidden_input = '<input type="text" name="'+hidden_input_name+'" value="'+hidden_input_value+'" style="display: none" >'
        }
        if (!(edit_item === "")) {
            buttons = ''
                + '<input type="text" name="old_name" value="'+edit_item+'" style="display: none" >'
                + '<div style="text-align: center; margin-top: 5%">'
                + '    <div style="display: inline-block; text-align: center; width: 45%;">'
                + '        <a href="/remove_item?list_title='+hidden_input_value+'&name='+edit_item+'" class="btn button btn-delete" style="display: inline-block; margin-left: 0%; margin-top: 15%; width: 80%;">Delete</a>'
                + '    </div>'
                + '    <div style="display: inline-block; text-align: center;  width: 45%;">'
                + '        <button class="btn btn-form-submit" style="display: inline-block; margin-left: 0%; width: 80%;" type="submit">Save</button>'
                + '    </div>'
                + '</div>';
                hidden_input_value = edit_item;
        }
        if (!(price_id === "")){
            price = '<input id="price_input" name="price" value="'+ old_price +'" type="number" class="form-input form-control" placeholder="Enter Price">';
            if (old_price === ""){
                hidden_input_value = ""
            }
        }
        document.getElementById(parent_id).innerHTML=''
            + '<div class="card crud-card drop-shadow">'
            + '    <span class="close">&times;</span>'
            + '    <h3 class="title crud-title">'+modal_title+'</h3>'
            + '    <form action="'+action+'" method="post" class="register-form" id="'+form_id+'">'
            + '        ' +hidden_input
            + '        <input id="visible_input" name="'+visible_input_name+'" type="text" class="form-control" value="' + hidden_input_value + '" placeholder="'+visible_input_placeholder+'">'
            + '        ' +price
            + '        ' +buttons
            + '    </form>'
            + '</div>';

        var modal = document.getElementById(parent_id);

        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    }

    function changeItemStatus(list_title, name, check_box) {
        window.location.href = "/check_item_toggle?list_title="+list_title+"&name="+name+"&new_status="+check_box.checked;
    }

    function show_snack_bar(message, duration, type) {
        var snack_bar = document.getElementById("snackbar")
        snack_bar.innerHTML='<p>'+message+'</p>';
        if (type == "danger") {
            snack_bar.className += ' danger-snackbar';
        }
        else {
            snack_bar.className += ' success-snackbar';
        }
        snack_bar.className += " show";
        setTimeout(
            function() { 
                snack_bar.className = snack_bar.className.replace(" show", "").replace(" danger-snackbar", "").replace(" success-snackbar", ""); 
            }, duration);
    }

    if (message != "None") {
        type = "success"
        if (message.toLowerCase().includes("wrong")){
            type = "danger"
        }
        if (list_number == 0) {
            message = message + "<br/> Welcome to Shopping List! <br/> Click the button in the bottom right corner to add a Shopping List <i class='fa fa-arrow-right'></i>"
        }
        show_snack_bar(message, 3000, type);
    }
</script>
