<!doctype html>
<html lang="en">

<head>
    <title>Signup | Shopping List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="../static/css/styles.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-fixed-top drop-shadow">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shopping List</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-link" href="{{url_for('login')}}" title="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="register-wrapper">
        <div class="card register-card drop-shadow">
            <h3 class="title">Sign Up</h3>
            <form id="sign_up_form_id" name="sign_up_form" action="/signup" method="post" class="register-form">
                
                <input name="email" type="email" class="form-input form-control" placeholder="Email">

                <input name="password" type="password" class="form-input form-control" placeholder="Password">

                <input name="confirm_password" type="password" class="form-input form-control" placeholder="Confirm Password">

                <button type="button" class="btn btn-form-submit" onclick="validate_inputs()">Finish</button>
            </form>
        </div>
    </div>

    <div><div id="snackbar"></div>
</body>

</html>

<script type="text/javascript">
    function validate_inputs() {
        var email_value = document.forms["sign_up_form"]["email"].value;
        var password_value = document.forms["sign_up_form"]["password"].value;
        var confirm_password_value = document.forms["sign_up_form"]["confirm_password"].value;
       
        if (email_value.replace(" ", "") == "") {
            show_snack_bar("Please enter email", 3000, "danger")
        }
        else if (!(email_value.includes("@")) || !(email_value.split("@")[1].includes(".")) || (email_value.replace("@","").includes("@")) || email_value.includes("@.")) {
            show_snack_bar("Invalid Email Address", 3000, "danger")
        }
        else if (email_value.replace(" ", "") != email_value || email_value.length < 5) {
            show_snack_bar("email should not contain spaces and should be more than 5  characters long ", 3000, "danger")
        }
        else if (password_value == "") {
            show_snack_bar("Please enter password ", 3000, "danger")
        }
        else if (password_value != confirm_password_value) {
            show_snack_bar("Passwords dont match!", 3000, "danger")
        }
        else {
            document.getElementById("sign_up_form_id").submit();
        }
    }

    function show_snack_bar(message, duration, type) {
        var snack_bar = document.getElementById("snackbar")
        snack_bar.innerHTML='<p>'+message+'</p>';
        if (type == "danger") {
            snack_bar.className += ' danger-snackbar';
        }
        else {
            snack_bar.className += ' success-snackbar';
        }
        snack_bar.className += " show";
        setTimeout(
            function() { 
                snack_bar.className = snack_bar.className.replace(" show", "").replace(" danger-snackbar", "").replace(" success-snackbar", ""); 
            }, duration);
    }
</script>
